html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* aligns items to the top */
  align-items: center; /* aligns items in the center horizontally */
  background-color: #2f2f2f;
  color: #11cef6;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

@media screen and (min-width: 768px) {
  .App {
    flex-direction: row;
    justify-content: flex-start; /* aligns items to the left */
    align-items: stretch; /* allows items to take full height */
  }
}
