@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  /*background-color: #2f2f2f; /* Solid background color */
  color: #f8e03e;
  margin: 0;
  padding: 0;
  font-family: 'Share Tech Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%; /* Ensure full height */
  overflow: hidden; /* Optional: Prevent scrolling if the canvas covers everything */
}

#rainCanvas {
  position: fixed;
  background-color: #2f2f2f;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Ensure it stays in the background */
}

code {
  font-family: 'Share Tech Mono', sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2f2f2f;
}

::-webkit-scrollbar-thumb {
  background-color: #11cef6;
  border-radius: 20px;
  border: 1px solid #2f2f2f;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f8e03e;
}

a {
  text-decoration: none;
  color: #713491;
}

a:hover {
  color: #fd46d6;
}
